*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    min-height: 100vh;
    min-width: 100vw;
    background-size: 40%, 60%;
    background-repeat: no-repeat, no-repeat;
    background-position: top 0px left 0px, bottom 0px right 0px;
    font-family: 'Spartan', sans-serif;
    box-sizing: border-box;

}

.attribution {
    font-size: 11px;
    text-align: center;
}
  .attribution a {
    color: hsl(228, 45%, 44%);
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

.magenta{
    background-color: hsl(300, 43%, 22%);
}

/* TITLE-STARTS */
.first-section{
    display: flex; 
    justify-content: space-evenly;
    padding: 2% 0;
    
}

.main-title{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.main-title p{
    margin-top: 1em;
    color: hsl(303, 10%, 53%);
    font-size: 1.5em;
    animation: 1s ease-out 0s 1;
}

.main-title h1{
    color: hsl(300, 43%, 22%);
    font-size: 3.5rem;
    animation: 1s ease-out 0 1;

}

/* TITLE-ENDS */

/* RATING-STARTS */

.stars-p {
    display: inline-block;
}

.stars-span{
    margin-right: 3%;
}
.rate-main{

    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: right;
    
    
}





.rate-main__stars{

    width: 100%;
    height: fit-content;
}

.stars{
    background-color: hsl(300, 24%, 96%);
    width: 50%;
    height: 4.4rem;
    padding-left: 1em;
    border-radius: .350em;
    margin-top: 1.8rem;
    display: flex;
    align-items: center;
    transition: 1s;
    color: hsl(300, 43%, 22%);
    font-weight: bold;
}

.stars:hover{
    background-color: #000;
    color: #fff;
    transition: 1s;
}

.one{
    margin-left: 10%;
}
 .two{
    margin-left: 15%;
 }

 .three{
    margin-left: 20%;
 }



/* RATING-ENDS */

/* TESTIMONIAL-STARTS */

.testimonial-section{
    display:flex;
    justify-content: center;
    height: 35vh;
}

.card-title{
    margin-bottom: 2em;
}

.testimonial {
    padding: 30px;
    margin-right: 4.5%;
    height: 70%;
    width: 21.5%;
    border-radius: .7em;
}

.testimonial p{
    color: hsl(300, 24%, 96%);
}

.testimonial h2{
    color:  hsl(300, 24%, 96%);
}

.testimonial h3 {
    color: hsl(333, 80%, 67%);
}

.testimonial-image{
    float: left;
    width: 45px;
    margin-right: 1em;
    border-radius: 100%;
}

.irene{
    margin-top: 1%;
}

.anne{
    margin-top: 2%;
}

/* TESTIMONIAL-ENDS */

/* Query starts */

@media screen and (max-width: 800px ){

body{
    min-height: 100vh;
    width: 100vw;
}


.first-section{
    flex-wrap: wrap;
    justify-content: space-between;
  
    padding-top: 20%;
    
}



.main-title__text h1{
    font-size: 2rem;
    text-align: center;
    padding-bottom: .5em;
}

.main-title__text p{
    line-height: 1.4em;
    font-size: .9em;
    text-align: center;
}

/* Query Stars Starts */

.rate-main{
    height: 100%;
    margin: 3em 0 3rem 0;
}


.stars{
    display: block;
    width: 80%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color:hsl(300, 43%, 22%);
    font-weight: bold;
}

.stars:hover{
    background-color: #000;
    color: #fff;
    transition: 1s;
}

.stars-span img{
    margin-right: 5px;

}


.stars:hover{
    background-color: #000;
    color: hsl(120, 120%, 120%);
    transition: 1s;
}

.rate-main__stars{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.two{
    margin-top: 1em;
}

.three{
    margin-top: 1em;
}

.three p{
    margin-right: 2em;
}

/* TESTIMONIAL QUERY */

.testimonial-section{

    margin: 1.5rem;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
}

.testimonial{
    margin-bottom: 1rem ;
    width: 100%;
    border-radius: .7em;

}
}



/* Query ends */
